<mat-card class="client-card" appearance="outlined">
  <mat-card-header class="client-card-header">
    <div class="row">
      <mat-card-subtitle class="client-info">Client Name: {{clientDetails.firstName}} {{clientDetails.lastName}}</mat-card-subtitle>
      <mat-card-subtitle class="client-info">Email: {{clientDetails.email}}</mat-card-subtitle>
    </div>
    <div class="row">
      <mat-card-subtitle class="client-info">Age: {{clientDetails.age}}</mat-card-subtitle>
      <mat-card-subtitle class="client-info">User Role: {{clientDetails.role}}</mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>
